$base-font-size: 16px;
$main-color: #767676;
$light-color: #ededed;

/** Elements **/
@import 'elements/_page';
@import 'elements/_header';
@import 'elements/_footer';
@import 'elements/_app';

/** Objects **/
@import 'objects/_border-width';
@import 'objects/_panel';
@import 'objects/_top-bar';

/** Components **/
@import '../jobs-form/_jobs-form';
@import '../jobs-list/_jobs-item';
@import '../jobs-list/_jobs-list';
@import '../job-details/_job-details';

/** Trumps **/
@import 'trumps/_text-modifier';
